/*
 * Citizen
 *
 * SkinStyles for Extension:DiscussionTools
 * Module: ext.discussionTools.init
 * Version: REL1_35 7aa0a9b
 *
 * Date: 2022-05-06
*/

@import '../../../resources/variables.less';

.ext-discussiontools-init-section {
	&,
	.ext-discussiontools-init-section & {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		border-top-color: var( --border-color-base );

		&-metaitem {
			color: var( --color-base--subtle );

			& + .ext-discussiontools-init-section-metaitem {
				border-left-color: var( --border-color-base );
			}
		}

		.mw-headline,
		& > h2,
		h2.ext-discussiontools-ui-newTopic-sectionTitle .oo-ui-inputWidget-input {
			font-family: var( --fonts-serif );
		}

		& > h2 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
}

@media ( max-width: @width-breakpoint-tablet ) {
	.ext-discussiontools-init-section .mw-headline {
		flex: 1 0 100% !important;
	}
}

.ext-discussiontools-init-section-subscribe.mw-editsection-like {
	flex-basis: 3.75rem;
	order: 9;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
	margin-left: 0.5em;
	font-size: 0.875rem;
}

.ext-discussiontools-init-section-subscribeButton.oo-ui-buttonElement {
	order: 10;
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.ext-discussiontools-init-section-subscribe-bracket {
	display: none;
}

.ext-discussiontools-ui-newTopic-sectionTitle {
	font-size: 1.125rem;
}

.ext-discussiontools-init-replylink-buttons {
	.ext-discussiontools-init-replylink {
		// Similar to mw-editsection-bracket
		&-bracket {
			color: var( --color-base--subtle );
		}

		&-divider {
			color: var( --border-color-base );
		}
	}

	.ext-discussiontools-init-replylink-open & > .ext-discussiontools-init-replylink-reply {
		color: var( --color-base--subtle );
	}

	&.ext-discussiontools-init-replylink-active > .ext-discussiontools-init-replylink-reply {
		color: var( --color-base );
	}
}

.ext-discussiontools-ui-newTopic {
	.ve-ui-toolbar > .oo-ui-toolbar-bar {
		z-index: 11;
	}
}

.ext-discussiontools-init-pageframe-latestcomment {
	color: var( --color-base--subtle );
}

.ext-discussiontools-visualenhancements_pageframe-enabled {
	.ext-discussiontools-init-sidebar-meta {
		color: var( --color-base--subtle );
	}
}

.ext-discussiontools-visualenhancements-enabled {
	h2.ext-discussiontools-ui-newTopic-sectionTitle .oo-ui-inputWidget-input {
		font-weight: var( --font-weight-semibold );
	}
}

.ext-discussiontools-emptystate {
	.mw-parser-output:not( .noarticletext ) & {
		border-top-color: var( --border-color-base );
	}
}

.ext-discussiontools-autotopicsubpopup {
	&-title {
		font-weight: var( --font-weight-semibold );
	}
}
