/*
 * Citizen
 *
 * SkinStyles for Extension:DiscussionTools
 * Module: ext.discussionTools.init
 * Version: REL1_35 7aa0a9b
 *
 * Date: 2022-05-06
*/

.ext-discussiontools-init-section-subscribe.mw-editsection-like {
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	margin-left: 0.35em;
	font-size: 0.875rem;
}

.ext-discussiontools-ui-newTopic-sectionTitle {
	font-size: 1.125rem;
}

.dt-init-replylink-buttons {
	.dt-init-replylink {
		// Similar to mw-editsection-bracket
		&-bracket {
			color: var( --color-base--subtle );
		}
	}

	.dt-init-replylink-open & > a {
		color: var( --color-base--subtle );
	}
}
