 {{!
	string msg-citizen-drawer-toggle The label used by the drawer button.
}}
<div class="citizen-drawer__button citizen-header__button">
		<label
		id="citizen-drawer__buttonCheckbox"
		class="mw-checkbox-hack-button citizen-header__buttonCheckbox"
		for="citizen-drawer__checkbox"
		title="{{msg-citizen-drawer-toggle}}"
		tabindex="0">
		<span class="citizen-ui-icon mw-ui-icon-wikimedia-menu"></span>
		<span>{{msg-citizen-drawer-toggle}}</span>
	</label>
</div>