{{!
	string msg-citizen-search-toggle-shortcut shortcut key message
	string msg-citizen-search-toggle tooltip message for search toggle
}}
<div class="citizen-search__button citizen-header__button">
	<label
		id="citizen-search__buttonCheckbox" 
		class="mw-checkbox-hack-button citizen-header__buttonCheckbox" 
		for="citizen-search__checkbox"
		title="{{msg-citizen-search-toggle}} {{msg-citizen-search-toggle-shortcut}}"
		tabindex="0">
		<span class="citizen-ui-icon mw-ui-icon-wikimedia-search"></span>
		<span>{{msg-citizen-search-toggle}}</span>
	</label>
</div>
